

{{> messages }}
{{#if username}}
<h2>{{ username }}'s profile</h2>
<table class="table">
  <tr>
    <td>Name:</td>
    <td>{{ name }}</td>
  </tr>
  <tr>
    <td>Description:</td>
    <td>{{ desc }}</td>
  </tr>
  <tr>
    <td>Twitter:</td>
    <td>{{ twitter }}</td>
  </tr>
</table>
{{/if}}